html,
body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  margin: 0;
  padding: 0;
  font-size: 18px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.header-wrapper {
  padding-top: 30px;
  background: linear-gradient(
    180deg,
    rgba(70, 153, 221, 1) 45%,
    rgba(5, 36, 62, 1) 100%
  );
}

div {
  display: block;
}

.text-white {
  color: #fff !important;
}

.header-wrapper {
  background-size: cover;
  background-position: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border-style: none;
}

.zona-obs {
  max-width: 100%;
}

.header-wrapper a,
.header-wrapper i {
  color: #fff;
}

.header-wrapper a:hover {
  text-decoration: none;
}

.header-wrapper img {
  width: 100%;
  margin: 0 0 0 8px;
  display: block;
}

.text-center.text-white {
  margin-top: 0px;
  font-size: 30px;
  padding-bottom: 70px;
}

.text-center {
  text-align: center !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-3 {
  flex: 0 0 33%;
  max-width: 33%;
}

.col-3 > a {
  font-size: 16px;
}

.main-section {
  margin-left: 12px;
  margin-right: 12px;
}

.sec-3 {
  margin-left: 0px;
}

.fa-hand-pointer::before {
  content: "f25a";
}

.inst-container {
  display: flex;
}

.inst-cr {
  max-width: 950px;
  margin-right: 0;
}

.inst-cr p:first-of-type {
  margin-top: 24px;
}

.inst-cr p {
  margin-top: 36px;
}

.viz-gm {
  height: auto;
  width: 95%;
}

@media screen and (max-width: 768px) {
  .text-center.text-white {
    font-size: 24px;
  }

  .inst-container {
    display: block;
  }

  #viz-gm {
    display: flex;
    justify-content: center;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .col-3 {
    flex: auto;
    max-width: 80%;
    justify-content: center;
    padding-bottom: 6px;
  }
}

ol,
ul {
  padding-left: 24px;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.17em;
}

.bold-line {
  font-weight: bold;
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

/* TABEL --------------------------------------------*/

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  overflow: auto;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: normal;
  overflow: auto;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-wa1i {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.tg .tg-nrix {
  text-align: center;
  vertical-align: middle;
}
.tg .tg-8d8j {
  text-align: center;
  vertical-align: bottom;
}
@media screen and (max-width: 767px) {
  .tg {
    width: auto !important;
  }
  .tg col {
    width: auto !important;
  }
  .tg-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

/* -------------------------------------------------------- */

#footer {
  background-color: #4699dd;
  padding: 15px;
  color: #fff;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
